@media all and (max-width: 991px) {
  .body {
    font-size: 13px;
  }

  .song {
    width: 20%;
  }

  .song:nth-child(4n+5) {
    margin-left: 0;
  }

  .song:nth-child(n+5) {
    margin-top: 10px;
  }
}

@media all and (max-width: 850px) {
  .player-controller {
    width: 210px;
  }

  .time-cont {
    width: 100%;
  }

  .main-nav ul {
    width: 80%;
  }
}

@media all and (max-width: 680px) {
  .playback-icon {
    margin: 0 0 0 5px;
    display: flex;
    flex-direction: column;
  }

  .playback-icon i:nth-child(n+2) {
    margin: 0;
  }

  .main-nav ul {
    width: 90%;
  }

  .song-cont {
    justify-content: space-between;
  }

  .song {
    width: 49%;
  }

  .song:nth-child(n+2) {
    margin-left: 0;
  }

  .song:nth-child(n+3) {
    margin-top: 10px;
  }
}

@media all and (max-width: 552px) {
  .main {
    width: calc(100% - 50px);
  }

  .nav-bar {
    width: 50px;
  }

  .nav {
    margin-top: 10px;
    flex-grow: 1;
  }

  .nav-text {
    display: none;
  }

  .nav ul li a {
    padding: 0;
    border: none;
  }

  .nav ul li a img {
    margin: 0 auto;
  }

  .playlist {
    display: none;
  }

  .playlist-list {
    display: none;
  }

  .logo-cont {
    padding: 5px 0;
    height: auto;
  }

  .logo-cont a:first-child img {
    display: none;
  }

  .logo-cont a:last-child img {
    display: block;
    width: 50%;
    margin: 0 auto;
  }

  .user-cont {
    padding: 0;
  }

  .installation {
    border: none;
  }

  .installation a img,
  .user a img {
    margin: 0 auto;
  }
}

@media all and (max-width: 510px) {
  .album-cover img {
    display: none;
  }

  .player-tools {
    flex-wrap: wrap;
    justify-content: center;
  }

  .volume-cont {
    display: none;
  }
}

@media all and (max-width: 490px) {
  .playback-icon {
    display: none;
  }
}

@media all and (max-width: 425px) {
  .in-playback {
    display: none;
  }

  .player-tools {
    display: none;
  }

  .player-bar {
    justify-content: center;
  }
}
