@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  max-height: 100vh;
  font-size: 14px;
  font-family: "Montserrat";
  color: #a3a3a3;
}

a {
  text-decoration: none;
  color: #a3a3a3;
}

a:hover {
  color: #fff;
}

ul {
  list-style-type: none;
}

li{
  margin-top: 10px;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  margin: 40px 0 0 0;
}

h3 {
  font-size: 1rem;
  color: #fff;
}

i {
  cursor: pointer;
}

.main-cont {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
}

/* nav-bar */
.nav-bar {
  width: 230px;
  height: 100%;
  background: #000;
  display: flex;
  flex-direction: column;
}

/* logo */
.logo-cont {
  width: 100%;
  height: 80px;
  padding: 17px;
}

.logo-cont a:first-child img {
  width: 70%;
  color: #fff;
}

.logo-cont a:last-child img {
  display: none;
}

/* nav */
.nav ul li a {
  height: 30px;
  display: block;
  display: flex;
  align-items: center;
  padding: 0 0 0 10px;
  border-left: 3px solid rgba(0, 0, 0, 0);
}

.nav ul li a:nth-child(1n+2) {
  margin-top: 5px;
}

.nav ul li a img {
  width: 25px;
  color: #a3a3a3;
}

a.checked {
  color: #fff;
  border-left: 3px solid #adff2f !important;
}

.nav-text {
  margin-left: 5px;
}

/* playlist */
.playlist {
  padding: 0 13px;
  margin-top: 20px;
}

.add-playlist {
  margin: 10px 0;
}

.add-playlist a {
  display: flex;
  align-items: center;
}

.add-playlist i {
  font-size: 2rem;
}

.playlist-list {
  overflow: auto;
  flex-grow: 1;
  padding: 0 13px;
}

/* user */
.user-cont {
  width: 100%;
  height: 80px;
  padding: 0 13px;
}

.installation {
  padding: 10px 0;
  border-bottom: 1px solid #a3a3a3;
}

.user {
  width: 100%;
  padding: 10px 0;
}

.user .nav-text {
  font-size: 1.1rem;
  font-weight: bold;
  margin-left: 10px;
  color: #fff;
}

.installation a,
.user a {
  display: block;
  display: flex;
  align-items: center;
}

.installation a img,
.user a img {
  width: 15px;
  color: #a3a3a3;
}

/* main */
.main {
  width: calc(100% - 200px);
  height: 100%;
  padding: 80px 20px 20px 20px;
  background: #141922;
  overflow: auto;
  position: relative;
}

.upgrade-overlay {
  width: 100%;
  height: 80px;
  padding: 20px;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  left: 0;
}

.upgrade-overlay a {
  color: #fff;
  border: 2px solid #fff;
  padding: 10px 50px;
  border-radius: 20px;
}

.upgrade-overlay a:hover {
  transform: scale(1.1);
}

.main-nav ul {
  width: 55%;
  margin: 0 auto;
  text-align: center;
}

.main-nav ul li {
  display: inline-block;
}

.main-nav ul li:nth-child(n+2) {
  margin-left: 10px;
}

.main-nav-check {
  width: 40%;
  margin: 0 auto;
  border-bottom: 3px solid #adff2f;
}

/* song-cont */
.song-cont {
  width: 100%;
  margin: 40px 0 0 0;
  display: flex;
  flex-wrap: wrap;
}

.song-cont h4 {
  margin: 5px 0 0 0;
}

.song {
  width: 14%;
  text-align: center;
}

.song:nth-child(n+2) {
  margin-left: 15px;
}

.song h3 {
  margin: 10px 0 0 0;
}

.song-img {
  position: relative;
}

.song-img img {
  width: 100%;
}

.img-circle img,
.img-circle .song-overlay {
  border-radius: 50%;
}

.song-overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

.song-overlay i {
  font-size: 3rem;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.song-img:hover .song-overlay {
  display: block;
}

/* player-bar */
.player-bar {
  width: 100%;
  min-height: 100px;
  background: #282828;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 99;
}

.in-playback {
  flex-basis: 220px;
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.album-cover {
  flex-basis: 145px;
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.album-cover img {
  width: 35%;
}

.playback-icon i:nth-child(1n+2) {
  margin: 0 0 0 5px;
}

.playback-icon i:hover {
  color: #fff;
}

.cover-title {
  margin-left: 5px;
}



/* player */
.player-controller {
  width: 50%;
  padding: 13px 0;
}

.controller-icon {
  width: 200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.controller-icon i {
  font-size: 1.1rem;
  color: #fff;
}

.controller-icon i.fa-play-circle {
  font-size: 2rem;
}

.controller-icon i.fa-play-circle:hover {
  transform: scale(1.1);
}

.time-passed {
  margin-right: 5px;
}

.remaining-time {
  margin-left: 5px;
}

/* player tools */
.player-tools {
  flex-basis: 220px;
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.player-tools i {
  color: #fff;
  margin-left: 5px;
}

/* time/volume bar */
.volume-cont,
.time-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.time-cont{
  width: 50%;
  margin: 10px auto;
}

.volume-cont i {
  margin-right: 5px;
}

.time-bar,
.volume-bar {
  height: 3px;
  background: #5a5a5a;
  border-radius: 5px;
  cursor: pointer;
}

.time-bar {
  width: 500px;
}

.volume-bar {
  width: 80px;
}

 .time-active,
 .volume-active {
  height: 3px;
  background: #ccc;
  border-radius: 5px;
  position: relative;
}

.time-active {
  width: 10%;
}

.volume-active {
  width: 40%;
}

.time-active i,
.volume-active i {
  display: none;
  font-size: 10px;
  color: #fff;
  position: absolute;
  top: -4.5px;
  right: -9px;
}

.time-bar:hover .time-active,
.volume-bar:hover .volume-active {
  border: 2px solid #adff2f;
  background: #adff2f;
}

.time-bar:hover .time-active i,
.volume-bar:hover .volume-active i {
  display: block;
}
